.myFishCard {
    background: linear-gradient(173.26deg, rgba(250, 249, 249, 0.7) -31.63%, rgba(250, 249, 249, 0.1) 94.73%), #4DC5AF;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 6px, rgba(0, 0, 0, 0.1) 0px 3px 6px;
    border-radius: 50px;
    width: 100%;
    grid-area: fishlist;
    padding-bottom: 20px;
    justify-content: start;
}

.myFishHeader {
    background: linear-gradient(180.77deg, rgba(255, 255, 255, 0.5) -64.46%, rgba(255, 255, 255, 0) 99.34%), #445E93;
    box-shadow: 0px 4px 2px #314E88;
    border-radius: 20px;
    width: 50%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    text-shadow: 1px 2px 5px rgba(68, 65, 64, 0.4);
}

.noFish {
    margin-top: 10%;
    margin-bottom: 5%;
}

.addFishButton {
    background: linear-gradient(165.41deg, rgba(255, 255, 255, 0.525) -19.95%, rgba(255, 255, 255, 0.075) 98.98%), #7BE22A;
    box-shadow: 0px 2px 2px #65C21B;
    border-radius: 20px;
    border: none;
    padding: 5px;
    font-family: Poppins;
    font-weight: 600;
    color: white;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

.tankFish {
    margin: auto;
    margin-top: 20px;
    background: linear-gradient(180.07deg, rgba(255, 255, 255, 0.525) -19.61%, rgba(255, 255, 255, 0.225) 99.94%), #3185FC;
    box-shadow: 0px 4px 2px rgba(28, 106, 216, 0.5);
    border-radius: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "pic name name name"
    "pic quantity edit delete"
    ;
    width: 90%;
}

.tankFish.active {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "pic name name name "
    "pic edit edit delete";
}

.tankFish.alert  {
    grid-template-areas: 
    "pic name name name "
    "pic quantity edit delete"
    "pic notice notice notice";
}

.fishPic {
    width: 200px;
    height: 125px;
    object-fit: cover;
    border-radius: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    grid-area: pic;
}

.tankFishName {
    justify-self: center;
    font-family: poppins;
    font-size: 20px;
    margin: 0;
    margin-bottom: 10px;
    align-self: end;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    grid-area: name;
}

.quantity {
    margin: 0;
    grid-area: quantity;
    align-self: start;
    justify-self: end;
    margin-top: 1px;
    margin-right: 10px;
    text-shadow: 1px 2px 2px rgba(68, 65, 64, 0.4);
}

.stock {
    width: 30%;
    border-radius: 50px;
    margin: auto;
    margin-bottom: -1%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 3px, rgba(0, 0, 0, 0.1) 0px 2px 3px;
}

.stock h3 {
    text-shadow: 1px 2px 5px rgba(68, 65, 64, 0.2);
}

.notice {
    grid-area: notice;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), #FF8686;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    width: 90%;
    margin: auto;
    margin-top: 0;
}

.long {
    font-size: 0.8em;
}

.none {
    display: none;
}

.notice p {
    display: inline;
    vertical-align: middle;
}

.warning {
    display: inline;
    width: 25px;
    vertical-align: middle;
    margin-right: 2%;
}

@media screen and (max-width: 1200px) {
    .myFishCard {
        margin: auto;
        width: 95%;
        padding: 5px;
    }

    .myFishHeader {

    }

    .noFish {
        margin-top: 5%;
    }

    .addFishButton {
        margin-bottom: 5%;
    }

    .tankFish {
        width: 65%;
        margin-bottom: 3%;
    }
}

@media screen and (max-width: 850px) {
    .tankFish {
        width: 85%;
    }
    .stock {
        width: 45%;
    }
}

@media screen and (max-width: 550px) {
    .tankFish {
        width: 95%;
    }
}