.onTimeContainer {
    background: linear-gradient(165.88deg, rgba(255, 255, 255, 0.3) -34.37%, rgba(255, 255, 255, 0.075) 99.31%), #CA9CE1;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 6px, rgba(0, 0, 0, 0.1) 0px 3px 6px;
    border-radius: 50px;
    width: 100%;
    padding: 2%;
    justify-self: start;
    margin-top: 30px;
    margin-bottom: 50px;
    grid-area: notification;
    align-self: center;
}

.onTimeHeader {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), #AC6DCB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    width: 90%;
    margin: auto;
    margin-bottom: 3%;
    padding: 2%;
    text-shadow: 1px 2px 5px rgba(68, 65, 64, 0.4);
}

.onTimeHeader h1 {
    margin-bottom: 2%;
}

.onTimeHeader h3 {
    margin-top: 2%;
}

.onTimeFormContainer {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) -8.91%, rgba(255, 255, 255, 0) 111.78%), #E0607E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    width: 90%;
    margin: auto;
    padding: 5%;
    text-shadow: 1px 2px 4px rgba(68, 65, 64, 0.4);
    margin-bottom: 2%;
}

.onTimeFormContainer h3 {
    margin-bottom: 3%;
}

.onTimeForm {

}

.onTimeForm h3 {
    font-weight: 600;
}

.everyLabel {
    font-size: 1.1em;
    font-weight: 600;
    margin-right: 2%;
}

.intervalInput {
    background: linear-gradient(183.12deg, rgba(255, 255, 255, 0.2) 2.57%, rgba(255, 255, 255, 0) 97.42%), #E4E4E4;
    box-shadow: 0px 4px 0px #C9C9C9;
    border-radius: 15px;
    padding: 2%;
    border: none;
    font-family: Poppins;
    font-size: 1.1em;
    color: #444140;
    text-align: center;
}

.emailNotify {
    display: inline-block;
    margin-right: 2%;
}

.textNotify {
    display: inline-block;
    margin-left: 2%;
}

.react-tel-input .form-control{
    font-family: Poppins;
}

.react-tel-input .country-list .country {
    background-color: #e0abfa;
    font-family: poppins;
}

.react-tel-input .country-list .country.highlight {
    background-color: #AC6DCB;
}

.react-tel-input .country-list .country:hover {
    background-color: #AC6DCB;
}

.react-tel-input .country-list .country .dial-code {
    color: #f0f0f0;
    font-weight: 700;
}

.onTimeSubmit {
    border: none;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), #AC6DCB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    padding: 2%;
    margin-top: 5%;
    color: white;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    padding: 3%;
    padding-left: 10%;
    padding-right: 10%;
    transition: all 0.2s ease-in-out;
}

.onTimeSubmit:hover {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), #894da7;
    transform: scale(1.1)
}

.onTimeSuccess {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), #AC6DCB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    width: 80%;
    margin: auto;
    margin-top: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.onTimeSuccess p {
    display: inline;
    font-weight: 600;
    margin-left: 3%;
}

.checkmark {
    display: inline;
}

@media screen and (max-width: 1200px) {
    .onTimeContainer {
        margin: auto;
        margin-top: 3%;
        margin-bottom: 7%;
        width: 95%;
    }
}

@media screen and (max-width: 800px) {
    .onTimeContainer {
        margin-bottom: 200px;
    }
}