.tankLevelContainer {
    grid-area: levels;
    background: linear-gradient(165.88deg, rgba(255, 255, 255, 0.3) -34.37%, rgba(255, 255, 255, 0.075) 99.31%), #EE6C4D;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 6px, rgba(0, 0, 0, 0.1) 0px 3px 6px;
    border-radius: 50px;
    width: 95%;
    justify-self: start;
    margin-top: 30px;
    margin-bottom: 50px;
    align-self: center;
}

.tankLevelHeader {
    grid-column: 1/4;
    margin-top: 1%;
}

.tankLevelHeader h1 {
    display: inline-block;
    vertical-align: middle;
    margin-left: 7px;
    margin-right: 5px;
    text-shadow: 1px 2px 5px rgba(68, 65, 64, 0.4);
}

.tankLevelHeader img {
    padding-top: 8px;
    width: 6%;
    display: inline-block;
    vertical-align: middle;
}

.noEntries {
    margin-top: 2%;
    margin-bottom: 8%;
}

.tankLevels {
    background: linear-gradient(179.58deg, rgba(255, 255, 255, 0.525) -43.81%, rgba(255, 255, 255, 0.075) 99.63%), #50C9CE;
    box-shadow: 0px 2px 2px #32B2B8;
    border-radius: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    margin: auto;
    margin-bottom: 3%;
    padding: 10px;
    text-shadow: 1px 2px 4px rgba(68, 65, 64, 0.4);
}

.tankLevels p {
    font-size: 20px;
}

.timeSinceContainer {
    grid-column: 1/4;
    margin-top: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.journalInfo {
    grid-column: 1/3;
}

.journalInfo div {
    display: inline-block;
    vertical-align: middle;
    width: 40%;
}

.backJournal {
    display: inline;
    margin-top: 5%;
}

.nextJournal {
    display: inline;
    margin-top: 5%;
    grid-column: 2/3;
}

.backJournal button {
    display: inline;
    border: none;
    background: none;
    transition: all 0.2s ease-in-out;
}

.backJournal button:hover {
    transform: scale(1.1);
}

.nextJournal button {
    display: inline;
    border: none;
    background: none;
    transition: all 0.2s ease-in-out;
}

.nextJournal button:hover {
    transform: scale(1.1);
}

.backJournal button img {
    width: 10%;
    display: inline;
    vertical-align: middle;
    margin-left: 2%;
}

.nextJournal button img {
    width: 10%;
    display: inline;
    vertical-align: middle;
    margin-left: 2%;
}

.backJournal button h2 {
    display: inline;
    font-family: Poppins;
    font-size: 18px;
    vertical-align: middle;
    color: white;
    text-shadow: 1px 2px 4px rgba(68, 65, 64, 0.4);
}

.nextJournal button h2 {
    display: inline;
    font-family: Poppins;
    font-size: 18px;
    vertical-align: middle;
    color: white;
    text-shadow: 1px 2px 4px rgba(68, 65, 64, 0.4);
}

.timeSince {
    margin-left: 10%;
}

.timeSince img {
    width: 25px;
    display: inline;
    vertical-align: middle;
    margin-right: 2%;
}

.timeSince h2 {
    display: inline;
    vertical-align: middle;
    font-size: 20px;
    font-weight: 500;
}

.pageNumber {
    margin-right: 10%;
}

.pageNumber h3 {
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 500;
}

.newEntryButton {
    background: linear-gradient(180.77deg, rgba(255, 255, 255, 0.5) -64.46%, rgba(255, 255, 255, 0) 99.34%), #445E93;
    box-shadow: 0px 2px 2px #314E88;
    border-radius: 50px;
    border: none;
    padding: 5px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 20px;
}

.newEntryButton:hover {
    background: radial-gradient(147.24% 111.72% at 50% -17.71%, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.05) 100%), #6685ad;
    box-shadow: 0px 2px 0px #466fa3;
}

.newEntryButton h2 {
    font-family: poppins;
    font-size: 16px;
    font-weight: 500;
    color: white;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.newEntryButton img {
    width: 15%;
    vertical-align: middle;
    display: inline-block;
}

.newEntryHead {
    background: radial-gradient(147.24% 111.72% at 50% -17.71%, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.05) 100%), #3D5A80;
    box-shadow: 0px 2px 0px #2F4F79;
    border-radius: 50px 50px 0px 0px;
    width: 90%;
    margin: auto;
}

.newEntryHead h2 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px;
}

.newEntryContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: linear-gradient(180deg, rgba(250, 249, 249, 0.5) 0%, rgba(250, 249, 249, 0.05) 100%), #98C1D9;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 50px 50px;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.tempInputContainer {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2%;
}

.tempLevelLabel {
    grid-column: 1/3;
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 1%;
}

.tempInput {
    align-self: center;
    margin-bottom: 0;
    margin-right: 0.5%;
    width: 50%;
    justify-self: end;
    height: 2.8em;
    font-size: 1em;
    font-family: Poppins;
    border: 1px solid grey;
    border-radius: 20px;
    background: #f1f1f1;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 2px 3px rgba(0,0,0,0.3)
}

.radioInput {
    padding: 1%;
    display: grid;
    grid-template-columns: 1fr;
    justify-self: start;
    margin-left: 5%;
}

.radioInput div {
    justify-self: start;
}

.radioInput input {
    margin-right: 7px;
}

.radioInput label {

}

.tankLevelLabel {
    font-size: 1.3em;
    display: flex;
    flex-direction:column;
    font-weight: 600;
    margin-bottom: 5px;
}

.newEntryContainer p {
    margin-top: 1%;
}

.TankLevelInput {
    display:flex;
    flex-direction:column;
    margin: auto;
    margin-bottom: 15px;
    height: 2.8em;
    font-size: 1em;
    font-family: Poppins;
    border: 1px solid grey;
    width: 50%;
    border-radius: 20px;
    background: #f1f1f1;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 2px 3px rgba(0,0,0,0.3)

}

.submitLevels {
    grid-column: 1/4;
    margin: auto;
    background: linear-gradient(180.77deg, rgba(255, 255, 255, 0.5) -64.46%, rgba(255, 255, 255, 0) 99.34%), #445E93;
    box-shadow: 0px 2px 2px #314E88;
    border-radius: 50px;
    border: none;
    padding:10px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 20px;
    margin-top: 3%;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    color: white;

}

.submitLevels:hover {
    background: radial-gradient(147.24% 111.72% at 50% 0%, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.05) 100%), #6685ad;
    box-shadow: 0px 2px 0px #466fa3;
}

.success {
    width: 40%;
    grid-column: 1/4;
    margin: auto;
    background: linear-gradient(180.77deg, rgba(255, 255, 255, 0.5) -64.46%, rgba(255, 255, 255, 0) 99.34%), #445E93;
    box-shadow: 0px 2px 2px #314E88;
    border-radius: 50px;
    padding:10px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 3%;
    margin-bottom: 20px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    color: white;
}

.checkmark {
    display: inline;
    vertical-align: middle;
}

.success p {
    display: inline;
    vertical-align: middle;
    margin-left: 5%;
}

@media screen and (max-width: 1200px) {
    .tankLevelContainer {
        margin: auto;
        margin-top: 3%;
    }
}