.deleteTank {
    background: radial-gradient(147.24% 111.72% at 50% 0%, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.05) 100%), #445E93;
    box-shadow: 0px 2px 0px #2F4F79;
    border-radius: 30px;
}

.deleteTank:hover {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.05) 100%), #7ed1cd;
    cursor: pointer;
}