.tankSizeHeader {
    font-weight: 800;   	
    text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

.subHeaderContainer {
    width: 60%;
    padding: 10px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 20px;
    grid-area: header;
    background: radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.28) 0%, rgba(255, 255, 255, 0.04) 100%), #FF9B3F;
    box-shadow: 0px 6px 0px #E6964C;
    border-radius: 25px;
}

.subHeader {
    font-family: Poppins;
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
    margin-right: 0.25em;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.1);

}

.inputContainer {
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-areas: 
    "header header"
    "select input"
    "output output"
    ;
    background: #fcbc91;
    width: 65%;
    margin: auto;
    margin-bottom: 7%;
    padding: 10px;
    background: linear-gradient(176.38deg, rgba(250, 249, 249, 0.49) -16.78%, rgba(250, 249, 249, 0.07) 97.03%), #FFAE78;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    max-width: 850px;

}

.inputContainer button {
    color: white;
    display: inline-block;
    border: none;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.05) 100%), #50C9CE;
    box-shadow: 0px 2px 2px #30ADB3;
    border-radius: 30px;
    font-family: Poppins;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    vertical-align: middle;
    font-weight: 500;
}

.inputContainer input {
    margin: auto;
    display: inline-block;
    height: 2.8em;
    font-size: 1.3em;
    font-family: Poppins;
    border: 1px solid grey;
    width: 60%;
    border-radius: 20px;
    background: #f1f1f1;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 2px 3px rgba(0,0,0,0.3)
}

.selectContainer {

    background: linear-gradient(180.07deg, rgba(255, 255, 255, 0.525) -19.61%, rgba(255, 255, 255, 0.225) 99.94%), #3185FC;
    box-shadow: 0px 4px 2px rgba(28, 106, 216, 0.5);
    border-radius: 50px;
    grid-area: select;
    width: 80%;
    padding: 10px;
    margin: auto;
}

.selectHeader {
    font-size: 16px;
    font-weight: 600;
}

.tankShapes {
    border: none;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    margin-left: 10px;
    font-family: poppins;
    text-align: center;

    background: linear-gradient(183.12deg, rgba(255, 255, 255, 0.2) 2.57%, rgba(255, 255, 255, 0) 97.42%), #E4E4E4;
    box-shadow: 0px 4px 0px #C9C9C9;
    border-radius: 15px;

}

.calculatorTankPic {
    width: 90%;
    height: 90%
}

.sizeInputs {
    grid-area: input;
    width: 90%;
    margin-top: 10px;
    align-self: center;
}

.calcInputs {
    background: radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.28) 0%, rgba(255, 255, 255, 0.04) 100%), #FF9B3F;
    box-shadow: 0px 6px 0px #E6964C;
    border-radius: 25px;  
    margin-bottom: 1em;
    width: 100%;
}

.length {
}

.width {

}

.depth {

}

.unit {
    display: inline-block;
    padding-left: 0.3em;
    margin-right: 0.4em;
    text-shadow: 1px 1px 2px rgba(68, 65, 64, 0.3);
}

.outputContainer {
    margin-top: 30px;
    grid-area: output;
}

.outputContainer button{

    border: none;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.05) 100%), #89B0AE;
    box-shadow: 0px 3px 0px #6C9492;
    border-radius: 30px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 15px;
    font-weight: 700;
    font-size: 1em;
    color: white;
    border: none;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.05) 100%), #50C9CE;
    box-shadow: 0px 2px 2px #30ADB3;
    border-radius: 30px;
    margin-top: 5px;
    margin-bottom: 20px;


}

.result {
    background: radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.28) 0%, rgba(255, 255, 255, 0.04) 100%), #FF9B3F;
    box-shadow: 0px 6px 0px #E6964C;
    border-radius: 25px;
    width: 30%;
    padding: 20px;
    margin: auto;
    margin-bottom: 15px;
}

.result h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    vertical-align: middle;
}

.unitSwitch button {

}

@media screen and (max-width: 1350px) {
    .inputContainer {
        width: 70%;
    }
}

@media screen and (max-width: 950px) {
    .inputContainer {
        width: 85%;
    }
}

@media screen and (max-width: 800px) {
    .tankSizeHeader {
        font-size: 28px;
    }

    .inputContainer {
        display: block;
        margin-bottom: 200px;
    }

    .subHeaderContainer {
        width: 80%;
    }

    .sizeInputs {
        padding-top: 5%;
        margin: auto;
        width: 275px;
    }

    .calcInputs {
        padding-left: 2%;
    }
}