.tankSizeHeader {
    font-weight: 800;   	
    text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

.subHeaderContainer {
    background: #fca063;
    border-radius: 20px;
    width: 90%;
    padding: 10px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 10px;
}

.subHeader {
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
    margin-right: 0.25em;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.1);
}

.inputContainer {
    background: #fcbc91;
    width: 35%;
    margin: auto;
    border-radius: 20px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 6px, rgba(0, 0, 0, 0.1) 0px 3px 6px;
}

.inputContainer button {
    color: white;
    display: inline-block;
    border: none;
    background: #89B0AE;
    border-radius: 20px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.3);
    vertical-align: middle;
    font-weight: 500;
}

.inputContainer input {
    margin: auto;
    margin-bottom: 1em;
    display: inline-block;
    height: 2.8em;
    font-size: 1.3em;
    font-family: Poppins;
    border: 1px solid grey;
    width: 35%;
    border-radius: 20px;
    background: #f1f1f1;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 2px 3px rgba(0,0,0,0.3)
}

.selectContainer {

}

.selectHeader {
    font-size: 16px;
    font-weight: 600;
}

.tankShapes {
    border: none;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    margin-left: 5px;
}

.length {

}

.width {

}

.depth {

}

.unit {
    display: inline-block;
    padding-left: 0.3em;
}

.outputContainer button{
    font-weight: 700;
    font-size: 1em;
    color: white;
    border: none;
    background: #89B0AE;
    border-radius: 25px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 25px;
    padding: 20px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.3);
}

.result {
    background: #fca063;
    border-radius: 20px;
    width: 50%;
    padding: 20px;
    margin: auto;
    margin-bottom: 15px;
}

.result h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    vertical-align: middle;
}

.unitSwitch button {

}