.tankCard {
    background: #fcbc91;
    width: 35%;
    margin: auto;
    border-radius: 20px;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 6px, rgba(0, 0, 0, 0.1) 0px 3px 6px;
    display: grid;
    grid-template-areas: 
    "name size"
}

.tankName {
    grid-area: name;
    vertical-align: middle;
}

.tankSize {
    grid-area: size;
    margin: none;
}