.tankCard {
    width: 35%;
    margin: auto;
    margin-top: 20px;
    background: linear-gradient(180deg, rgba(250, 249, 249, 0.7) -24.94%, rgba(250, 249, 249, 0.1) 40%), #faa064;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 6px, rgba(0, 0, 0, 0.1) 0px 3px 6px;
    display: grid;
    grid-template-areas: 
    "name size"
}

.tankName {
    grid-area: name;
    vertical-align: middle;
}

.tankSize {
    grid-area: size;
    margin: none;
}