.fishCardBrowse {
    margin: auto;
    width: 350px;
    background: linear-gradient(180deg, rgba(250, 249, 249, 0.7) -24.94%, rgba(250, 249, 249, 0.1) 40%), #faa064;
    border-radius: 30px;
    margin-top: 5%;
    padding-bottom: 2.5%;
    margin-bottom: 5%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    -webkit-transition: transform 100ms ease-in-out;
}

.fishCardBrowse:hover {
    transform: scale(1.05); 
}

.fishCardPic {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin: 20px;
    margin-bottom: 0;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.fishCardNames {
    width: 90%;
    margin: auto;
    margin-top: 1vw;
    background: linear-gradient(179.58deg, rgba(255, 255, 255, 0.525) -43.81%, rgba(255, 255, 255, 0.075) 99.63%), #50C9CE;
    box-shadow: 0px 2px 2px #32B2B8;
    border-radius: 20px;
}

.name {
    padding-top: 1vw;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 28px;
    text-shadow: 0px 2px 2px rgba(68, 65, 64, 0.5);
}

.sciName {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 1vw;
    font-weight: 500;
    font-size: 20px;
    color: rgb(230, 230, 230);
    text-shadow: 0px 2px 2px rgba(68, 65, 64, 0.5);
}

.fishCardInfo {
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    margin-top: 1vw;
    margin-bottom: 1vw;
    border-radius: 20px;

}

.sizeContainer {

}

.sizeHeader {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
    color: rgb(255, 255, 255);
    text-shadow: 0px 1px 2px rgba(68, 65, 64, 0.5);
}

.fishSize {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 0;
    text-shadow: 0px 2px 2px rgba(68, 65, 64, 0.5);
}

.careContainer {

}

.careHeader {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
    color: rgb(255, 255, 255);
    text-shadow: 0px 1px 2px rgba(68, 65, 64, 0.5);
}

.fishCare {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 0;
    text-shadow: 0px 2px 2px rgba(68, 65, 64, 0.5);
}