.CompactSearchContainer {
    margin-left: 0em;
    margin-top: 0em;
}

.CompactSearchButtonImage {
    width: 2.5em;
}

.CompactSearchSubmitButton {
    border: none;
    background: #555B6E;
    border-radius: 17px;
    cursor: pointer;
    box-shadow: 0 3px 3px rgba(0,0,0,0.3);
    vertical-align: middle;
}

.CompactSearchText {
    padding: 10px;
    margin-right: 0.1em;
    height: 2.5em;
    font-size: 0.8em;
    font-family: Poppins;
    border: 1px solid grey;
    width: 17em;
    border-radius: 20px;
    background: #f1f1f1;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 2px 3px rgba(37, 28, 28, 0.3);
    vertical-align: middle;
}

.CompactSearchSubmitButton:hover {
    background: #7884ad;
}
