.changeHeader {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.28) -23.88%, rgba(255, 255, 255, 0.04) 100%), #FF9B3F;
    box-shadow: 0px 6px 0px #E6964C;
    border-radius: 25px;
    width: 35%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.changeHeader img {
    width: 70px;
    display: inline;
    vertical-align: middle;
    margin-right: 2%;
}

.changeHeader h1 {
    display: inline;
    vertical-align: middle;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.changeBody {
    background: linear-gradient(176.38deg, rgba(250, 249, 249, 0.49) -16.78%, rgba(250, 249, 249, 0.07) 97.03%), #FFAE78;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
    border-radius: 80px;
    width: 50%;
    margin: auto;
    margin-bottom: 7%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;
}

.changeText {
    text-align: start;
    font-size: 1.2em;
    width: 80%;
    margin: auto;
    font-weight: 400;
    line-height: 40px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

}

.changeText.spaced {
    margin-top: 3%;
}

.changeSubHeader {
    font-weight: 700;
    font-size: 1.4em;
    margin-top: 5%;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1275px){
    .changeBody {
        width: 70%;
    }
}

@media screen and (max-width: 1000px){
    .changeHeader {
        width: 55%;
        margin-bottom: 3%;
    }

    .changeBody {
        padding-top: 7%;
        margin-bottom: 7%;
        width: 85%;
    }
}

@media screen and (max-width: 800px){
    .changeHeader {
        width: 65%;
    }

    .changeBody {
        padding-top: 7%;
        margin-bottom: 7%;
        width: 95%;
        margin-bottom: 200px;
    }

    .changeText {
        width: 90%;
    }
}

@media screen and (max-width: 450px) {
    .changeHeader {
        width: 80%;
    }
}