.filterToggle {
    border: none;
    border-radius: 40px;
    width: 15%;
    margin-top: 2%;
    margin-bottom: 1%;
    padding-bottom: 0.5%;
    padding-top: 0.5%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) -126.58%, rgba(255, 255, 255, 0) 100%), #FF9B3F;
    transition: all 0.2s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px;
}

.filterToggle:hover {
    cursor: pointer;
    transform: scale(1.1);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) -126.58%, rgba(255, 255, 255, 0) 100%), #f08e33;

}

.filterToggle img {
    width: 40px;
    display: inline;
    vertical-align: middle;
    margin-right: 5%;
}

.filterToggle p {
    font-family: Poppins;
    font-size: 25px;
    font-weight: 600;
    color: white;
    display: inline;
    vertical-align: middle;
}

.filterBox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    width: 30%;
    background: linear-gradient(176.38deg, rgba(250, 249, 249, 0.49) -16.78%, rgba(250, 249, 249, 0.07) 97.03%), #FFAE78;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
    margin: auto;
    border-radius: 40px;
    height: 0;
    transition: all 0.5s ease-in-out;   
    visibility: hidden; 
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
}

.filterBox.active {
    visibility: visible;
    height: 215px;
    margin-bottom: 15px;
}


.filter {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 10%;
}

.filterHead {
    margin-bottom: 7px;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    font-weight: 700;
    letter-spacing: 1px;
}

@media screen and (max-width: 1350px) {
    .filterToggle {
        width: 25%;
        margin-bottom: 2%;
        margin-top: 3%;
    }

    .filterBox {
        width: 50%;
    }
}

@media screen and (max-width: 950px) {
    .filterToggle {
        margin-top: 5%;
        margin-bottom: 0;
    }

    .filterBox {
        margin-top: 2%;
    }
}

@media screen and (max-width: 850px) {
    .filterToggle {
        width: 35%;
    }

    .filterBox {
        width: 70%
    }
}

@media screen and (max-width: 600px) {
    .filterBox {
        margin-top: 3%;
    }

    .filterBox.active {
        height: 200px;
    }

    .filterHead {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 550px) {
    .filterToggle {
        margin-top: 7%;
        
        width: 50%;
    }

    .filterBox {
        width: 85%;
    }
}

@media screen and (max-width: 450px) {

    .filterToggle {
        margin-top: 10%;
    }

    .filterBox {
        width: 95%
    }
}