html {
    height: 100%;
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
  }

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #FFD6BA;
    width: 100%;
    height: 100px;
    display: grid;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    grid-template-areas: 
    "header nav socials cc";
    filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.15));
}

.footerHead {
    grid-area: header;
    align-self: center;
}

.footerLogo {
    width: 200px;
    vertical-align: middle;
}

.footerNav {
    grid-area: nav;
    align-self: center;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

.socials {
    grid-area: socials;
    align-self: center;
}

.socialImg {
    width: 35px;
    vertical-align: middle;
    filter: drop-shadow(0 1px 2px rgb(185, 185, 185));
}

.creativeCommons {
    grid-area: cc;
    align-self: center;
}

.ccImg {
    width: 100px;
    filter: drop-shadow(0 1px 2px rgb(185, 185, 185));
}

@media screen and (max-width: 800px) {
    .footer {
        display: block;
        height: 250px;
    }

    .footer div {
        margin-top: 20px;
    }
}