.LogoHome {
    float: center;
}

.navBar {
    background-color: #FFD6BA;
    width: 100%;
    height: 12em;
    padding-top: 1.3em;
    filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.15));
    z-index: 2;
}

.tagLine {
    margin-top: 0;
    font-weight: 600;
    text-shadow: 1px 2px 3px rgba(0,0,0,0.3);
    text-decoration: 'none';
}

.navButtons div{
    display: inline-block;

}

.homeMenuIcon img {
    width: 60%;
    filter: drop-shadow(0 1px 2px rgb(185, 185, 185));
}

.homeMenuIcon button {
    display: none;
}

@media screen and (max-width: 1220px) {

    .navButtons {
        margin-top: 7%;
    }

    .navButtons div{
        display: block;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .homeMenuIcon button {
        margin: auto;
        display: block;
        border: none;
        background: none;
        transition: all 0.2s ease-in-out;
    }
    
    .homeMenuIcon button:hover {
        transform: scale(1.1);
        cursor: pointer;
    }

    .homeNavContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 500px;
        position: absolute;
        top: 190px;
        left:-100%;
        opacity: 0;
        transition: all 0.5s ease;
    }

    .homeNavContainer.active {
        position: absolute;
        display: flex;
        width: 100%;
        background: linear-gradient(176.38deg, rgba(250, 249, 249, 0.49) -16.78%, rgba(250, 249, 249, 0.07) 97.03%), #FFAE78;
        left: 0;
        padding: 0;
        opacity: 1;
        transition: all 0.5 ease;
        z-index: 1;
        overflow: visible;
        box-sizing: border-box;
    }

}

